{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container ">
  <div class="list-group">

    {% for contact in contacts %}
    <div class="list-group-item d-flex justify-content-between align-items-center">
      
      <div class="d-flex align-items-center">
        <img src="{% static 'img/profile.png' %}" alt="Profile" class="rounded-circle me-3" width="50" height="50">
        <div>
          <h6 class="card-title">{{ contact.name }}</h6>
            <small class="card-text">{{ contact.email }}</small><br>
            <small class="card-text">{{ contact.phone }}</small>
        </div>
      </div>

      <div class="d-flex">
        <a href="{% url 'edit-contact' contact.pk %}" class="btn btn-success me-3">Edit  </a>
        <a href="{% url 'delete-contact' contact.pk %}" class="btn btn-danger">Delete </a>
      </div>

    </div>
    {% endfor %}

    <div class="list-group-item text-center">
      <a href="{% url 'add-contact' %}" class="btn btn-primary"> Add New Contact</a>
    </div>

  </div>
</div>
{% endblock content %}